{% extends "container.html" %}
{% block page_content %}
<div class="container">
  <div class="row">
  <br><br><br><br>
     <div class="col-md-3"></div>
     <div class="col-md-6">
     <legend><h1>Contact Us</h1></legend>
        
        <form id="idSignIn" class="form-horizontal" action="/processContact" method="post" role="form">
        
           <div class="form-group">
             <label class="col-md-3 control-label">Subject :</label>
               <div class="col-md-9 inputGroupContainer">
                  <div class="input-group">
                  	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                     <input type="text" class="form-control" name="name" placeholder="Enter your subject here please ">
                  </div>
               </div>
           </div>
           
           <div class="form-group">
             <label class="col-md-3 control-label">Email :</label>
             	<div class="col-md-9 inputGroupContainer">
                	<div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    	<input type="email" class="form-control" name="email" placeholder="Enter your e-mail please">
                    </div>
                </div>
           </div>
           
           <div class="form-group">
           	<label class="col-md-3 control-label">Message :</label>
            	<div class="col-md-9 inputGroupContainer">
                	<div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    	<textarea name="message" cols="50" rows="10" placeholder="Please enter your message here and must be between 10 and 150 character"></textarea>
                    </div>
                </div>
           </div>
           
           <div class="form-group">
           	<label class="col-md-3 control-label"></label>
            	<div class="col-md-4">
                	<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-send"> Send</span></button>
                </div>
           </div>
        
        </form>
        
     </div>
     <div class="col-md-3"></div>
  </div>
</div>

{% endblock %}
